.NewNote form textarea {
    height: 300px;
    font-size: 1.5rem;
    border-radius: 5px;
}

.textarea {
    width:96%;
    margin-top: 10px;
    margin-left: 2%;
    margin-right: 2%;
}

.filearea {
    width:96%;
    margin-top: 10px;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 5px;
}