@media all and (min-width: 480px) {
    .Signup {
      padding: 60px 0;
    }
  
    .Signup form {
      margin: 0 auto;
      max-width: 320px;
      font-family: Marker Felt, fantasy;
      font-size: medium;
    }

    .signup-box-light{
      margin:auto;
      display: flex;
      justify-content: center;
      height: 325px;
      width: 25%;
      box-shadow: 11px 12px 113px 12px rgb(207, 207, 207);
      padding-top:30px;
      border-radius:60px;
      background-color: white;
  }

  .signup-box-dark{
    margin:auto;
      display: flex;
      justify-content: center;
      height: 325px;
      width: 25%;
      box-shadow: 11px 12px 113px 12px rgb(62, 62, 62);
      padding-top:30px;
      border-radius:60px;
      background-color: #414141;
  }

  .form-text-light{
    color:black;
  }
  
  .form-text-dark{
    color:white
  }
  
  }