.App {
  /* background-image: url("https://wallpaperaccess.com/full/1089679.png");
  height: 100%;

  Center and scale the image nicely
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

#light {
    background-color: #f3ebf6;
}


#dark {
    background-color: #a159bb;
}

.brand-light {
    color: black;
    font-family: Marker Felt, fantasy;
    font-size: large;
    font-weight: "bold";
}

.brand-dark {
    color: white;
    font-family: Marker Felt, fantasy;
    font-size: large;
    font-weight: "bold";
}


.switch {
    display: flex;
    width: 100vw;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.switch label {
    margin: 10px;
}
